{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        [ "transform-runtime" ],
        [ "typecheck" ],
        [ "transform-decorators-legacy" ]
      ]
    }
  }
}
