{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    [ "transform-runtime" ],
    [ "typecheck" ],
    [ "transform-decorators-legacy" ]
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
